<%= render "layouts/errors", :object => @job %>

<div class="row">
  <div class="col-sm-8 well">
    <%= form_for @job do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :post_link %>
        <%= f.text_field :post_link, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :closing_date %>
        <%= f.date_field :closing_date, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :posting_date %>
        <%= f.date_field :posting_date, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.number_field :priority, :class => "form-control" %>
      </div>
      <%= f.submit "Save Job", :class => "btn btn-success" %>
    <% end %>
  </div>
</div>
