<% if @jobs.any? %>
  <% @jobs.each do |job| %>
    <%if job.priority >=7 %>
      <div class="row job-list alert-high">
    <%elsif job.priority>=5 && job.priority<7 %>
      <div class="row job-list alert-medium">
    <%else%>
      <div class="row job-list">
    <%end%>
        <div class="col-sm-3 job-list-title">
          <h4><span class="small-screen-heading">Job Title: </span><%= link_to job.title.titleize, company_job_path(job.company, job), class: "job-titles"%></h4>
        </div>
        <div class="col-sm-3 job-list-title">
          <h4 class="jobs_listing"><span class="small-screen-heading">Company: </span><%=job.company.name%></h4>
        </div>
        <div class="col-sm-3 job-list-title">
          <h4 class="jobs_listing"><span class="small-screen-heading">Posting Date: </span><%=job.posting_date%></h4>
        </div>
        <div class="col-sm-3 job-list-title">
          <h4 class="jobs_listing"><span class="small-screen-heading">Closing Date: </span><%=job.closing_date%></h4>
        </div>
      </div>
  <%end%>
  <div class="center" id="paginator"><%= paginate @jobs, :remote => true  %></div>
<%else%>
  <h4>You have no jobs saved, add a company to get started</h4>
<%end%>
