<div class="row">
  <div class="col-sm-12 well">
    <h2 class="center">Your job prospects:</h2>
    <div class="search">
      <hr>
      <%= form_tag(jobs_path, method: "get", id:"job-search", remote: true) do %>
        <div class="form-group center">
          <%=select_tag(:search_column, options_for_select(['title', 'company', 'priority']), {:class => "contact-select"})%>
          <%= text_field_tag(:search_string, params[:search_string]) %>
          <%= submit_tag("Search", class: "btn btn-success", :name => nil) %>
        </div>
      <% end %>
      <hr>
    </div>
    <div class="row job-list" id="heading">
      <div class="col-sm-3 job-list-title">
        <h3>Company</h3>
      </div>
      <div class="col-sm-3 job-list-title">
        <h3>Job Title</h3>
      </div>
      <div class="col-sm-3 job-list-title">
        <h3>Posting Date</h3>
      </div>
      <div class="col-sm-3 job-list-title">
        <h3>Closing Date</h3>
      </div>
    </div>
    <div class="jobs">
      <%= render 'job' %>
    </div>
  </div>
</div>
