<div class="row">
  <h1><%= @job.name %></h1>
</div>
<!-- 
<ul>
  <% @jobs.each do |job| %>
    <li><%= job.title %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Add a job", new_company_job_path(@company), :class => "btn btn-primary" %>
  <%= link_to "Edit", edit_company_path(@company), :class => "btn btn-warning" %>
  <%= link_to 'Delete', company_path(@company), :data => {:confirm => "Are you sure?", :method => "delete"}, :class => "btn btn-danger" %>
</p> -->
