<% if current_user == @job.user %>
  <div class="row">
    <div class="col-sm-12 well">
      <p class="pull-right">  <%= link_to "Edit", edit_company_job_path(@company, @job), :class => "btn btn-warning" %>
      <%= link_to 'Delete', company_job_path(@company, @job), :data => {:confirm => "Are you sure?", :method => "delete"}, :class => "btn btn-danger" %></p>
      <h2 class="center-block"><span class="job-title"><%= @job.title %></span></h2>
      <h3 class="pull-right">Address: <%= @job.company.address%></h3>
      <h3>Company: <%= @job.company.name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 well">
      <h2 class="center">Attachments</h2>
      <div class="row job-attachment-heading">
        <div class="col-sm-3">
          <h3 class="attachment-title center">
            <%= link_to 'Resume', edit_company_job_path(@company, @job, :resume_up => true) %></h3>
        </div>
        <div class="col-sm-3">
          <h3 class="attachment-title center">Upload Date</h3>
        </div>
        <div class="col-sm-3">
          <h3 class="attachment-title center"><%= link_to 'Cover Letter', edit_company_job_path(@company, @job, :cover_letter_up => true) %></h3>
        </div>
        <div class="col-sm-3">
          <h3 class="attachment-title center">Upload Date</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h4 class="attachment-title center">
            <% if @job.resume_file_name %>
              <%= link_to @job.resume_file_name, @job.resume.url, target: "_blank" %><br>
              <button class="btn btn-warning" id="compare">Compare Resume</button>
              <button class="btn btn-primary" id="hide-compare">Hide JobScan</button>
            <%else%>
              <%= link_to 'Upload', edit_company_job_path(@company, @job, :resume_up => true) %>
              <%end%>
            </h4>
        </div>
        <div class="col-sm-3">
          <h4 class="attachment-title center"><%= @job.resume_updated_at %></h4>
        </div>
        <div class="col-sm-3">
          <h4 class="attachment-title center">
            <% if @job.cover_letter_file_name %>
              <%= link_to @job.cover_letter_file_name, @job.cover_letter.url %><br>
              <%= link_to 'Analyze Content', new_company_job_analysis_path(@company, @job), class: "btn btn-warning", id: "analyze" %>
            <%else%>
              <%= link_to 'Upload', edit_company_job_path(@company, @job, :cover_letter_up => true) %>
            <%end%>
          </h4>
        </div>
        <div class="col-sm-3">
          <h4 class="attachment-title center"><%= @job.cover_letter_updated_at %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 job-scan">
      <iframe src="//jobscan.co/iframe?btncolor=f0ad4e&utm_source=jobMate&utm_medium=iframe" width="700" height="575"></iframe>
    </div>
  </div>
  <% if @job.contact%>
    <div class="row">
      <div class="col-sm-12 well">
        <%= image_tag('avatar.png', :class => "contact-avatar pull-right") %>
        <h2>Job Contact:</h2>
        <h4><strong>Name:</strong> <%= @job.contact.last_name %>, <%= @job.contact.first_name %></h4>
        <h4><strong>Position:</strong> <%= @job.contact.position %></h4>
        <h4><%= link_to 'Contact Info', contact_path(@job.contact), :class => 'btn btn-primary'%></h4>
      </div>
    </div>
  <%end%>
<% else %>
  <h1>You can only access your own job postings. If this job is yours please logout and login as correct user.</h1>
<% end %>
