<h1>Welcome back, <%= current_user.email %></h1>

<div class="row companies-main">
  <div class="col-sm-5 well main-page-col">
    <h2>Your job prospects:</h2>
    <ul>
      <% @jobs.each do |job| %>
        <li><%= link_to job.title, company_job_path(job.company, job)%></li>
      <%end%>
    </ul>
  </div>
  <div class="pull-right col-sm-5 well main-page-col">
    <h2>See jobs by company:</h2>
    <ul>
      <% @companies.each do |company| %>
        <li><%= link_to company.name, company_path(company)%></li>
      <%end%>
    </ul>
    <%= link_to "New Company", new_company_path, :class => "btn btn-success"%>
  </div>
</div>
<div class="row companies-lower">
  <div class="col-sm-12 well">
    <h2>Your Contacts</h2>
    <% @contacts.each do |contact| %>
      <li><%= link_to contact.last_name+", "+contact.first_name, contact_path(contact)%></li>
    <%end%>
  </div>
</div>

<div class="row quote">
  <div class="col-sm-8">
    <h5><%=@quotes.first.content%></h5>
    <h5 class="text-center">- <em><%=@quotes.first.author%></em></h5>
  </div>
</div>
