
<%= render "layouts/errors", :object => @analysis %>

<h2 class="center well">About the Analysis</h2>
<div class="row well">
  <%= link_to image_tag('ibm_watson.png', id: "watson"), "https://developer.ibm.com/watson/", class: "pull-right"%>
  <h4>Harness the power of IBM's Watson™ Tone Analyzer Service to get a linguistic analysis into the tone of your cover letter. Identified social tendencies include things from the Big Five personality traits used by some psychologists. These include openness, conscientiousness, extroversion, agreeableness, and emotional range. Identified language styles include confident, analytical, and tentative.</h4>
  <h4 class="center">
  Use these insights to improve your writing style. Make a great first impression to a potential employer!</h4>
  <div class="center">
    <%= form_for [@company, @job, @analysis] do |f| %>
      <div class="field">
         <%= f.hidden_field :text, value: @job.cover_letter_text %>
      </div>
      <%= f.submit "Show me", :class => "btn btn-success center" %>
    <%end%>
  </div>
</div>
