<% @companies.each do |company| %>
  <div class="row company-list">
    <div class="col-sm-3 job-list-title">
      <h4><span class="small-screen-heading">Company: </span><%= link_to company.name, company_path(company), class: "company-names"%></h4>
    </div>
    <div class="col-sm-3 job-list-title">
      <h4><span class="small-screen-heading">Category: </span><%= company.category%></h4>
    </div>
    <div class="col-sm-3 job-list-title">
      <h4><span class="small-screen-heading">Rating: </span><%= company.rating%></h4>
    </div>
    <div class="col-sm-3 job-list-title">
      <h4><span class="small-screen-heading">Openings: </span><%= company.jobs.length%></h4>
    </div>
  </div>
<%end%>
  <div class="center" id="paginator"><%= paginate @companies, :remote => true  %></div>
