<%= render "layouts/errors", :object => @company %>

<div class="row">
  <div class="col-sm-8 well">
    <%= form_for @company do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "State" %>
        <%= f.text_field :region, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :category %>
        <%=f.select(:category, {:class => "category-select", id: "select-margin"}) do%>
          <% industries.each do |industry|%>
            <%=content_tag(:option, industry)%>
          <%end%>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label "Company Website"%>
        <%= f.text_field :domain, :class => "form-control", :value => 'http://'%>
      </div>
      <%= f.submit "Save Company", :class => "btn btn-success" %>
    <% end %>
  </div>
</div>
