<% if @company.statuses.any? %>
  <% @company.statuses.each do |status| %>
    <div class="row job-list">
      <div class="col-sm-2 job-list-title">
        <h4><%= status.contact_type %></h4>
      </div>
      <div class="col-sm-2 job-list-title">
        <% if status.contact %>
          <h4><%=link_to status.contact.last_name+', '+status.contact.first_name, contact_path(status.contact) %></h4>
        <%end%>
      </div>
      <div class="col-sm-2 job-list-title">
        <h4>
          <% if status.applied == true %>
            <%= status.applied_date %>
          <%else%>
            No
          <%end%>
        </h4>
      </div>
      <div class="col-sm-2 job-list-title">
        <h4><%= status.interview %></h4>
      </div>
      <div class="col-sm-2 job-list-title">
        <h4><%= status.offer %></h4>
      </div>
      <div class="col-sm-2 job-list-title">
        <div class="btn btn-success"><span class="glyphicon glyphicon-pushpin"></span></div>
      </div>
    </div>
  <%end%>
<%else%>
  <h4>No Status, update now!</h4>
<%end%>
