<div class="row">
  <div class="col-sm-12 well">
    <% if @company.domain != "" %>
      <%= image_tag('https://logo.clearbit.com/' + @company.domain, :class => "pull-right img-responsive img-circle") %>
    <% end %>
    <h1><%= @company.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 well">
    <h2 class="center">Corporate Info</h2>
    <hr>
    <% if @company.founded %>
      <h3>Founded: <%= @company.founded %></h3>
      <h3>Number of Employees: <%= @company.size %></h3>
      <hr>
      <h3>Corporate Headquarters</h3>
    <% else %>
      <h3>Address</h3>
    <% end %>
    <h4><%= @company.address %></h4>
    <h4><%= @company.city %>, <%= @company.region %></h4>
  </div>
  <div class="col-sm-6 well">
    <h2 class="center">Social Media</h2>
  </div>
</div>
<ul>
  <% @jobs.each do |job| %>
    <li><%= job.title.titleize %></li>
  <% end %>
</ul>

<ul>
  <% @company.contacts.each do |contact| %>
    <li><%= contact.last_name %>, <%= contact.first_name %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Add a job", new_company_job_path(@company), :class => "btn btn-primary" %>
  <%= link_to "Add a contact", new_contact_path(@company), :class => "btn btn-success" %>
  <%= link_to "Edit", edit_company_path(@company), :class => "btn btn-warning" %>
  <%= link_to 'Delete', company_path(@company), :data => {:confirm => "Are you sure?", :method => "delete"}, :class => "btn btn-danger" %>
</p>
