<div class="row">
  <div class="col-sm-12 well">
    <% if @company.domain != "" %>
      <%= image_tag('https://logo.clearbit.com/' + @company.domain, :class => "pull-right img-responsive img-circle") %>
    <% end %>
    <h1><%= @company.name %></h1>
    <p>
      <%= link_to "Add a job", new_company_job_path(@company), :class => "btn btn-primary" %>
      <%= link_to "Add a contact", new_contact_path(@company), :class => "btn btn-success" %>
      <%= link_to "Edit", edit_company_path(@company, update: true), :class => "btn btn-warning" %>
      <%= link_to 'Delete', company_path(@company), :data => {:confirm => "Are you sure?", :method => "delete"}, :class => "btn btn-danger" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 well">
    <h2 class="center">Status</h2>
    <hr>
    <div class="row job-list heading">
      <div class="col-sm-2 job-list-title">
        <h3>Contact Type</h3>
      </div>
      <div class="col-sm-2 job-list-title">
        <h3>Contact</h3>
      </div>
      <div class="col-sm-2 job-list-title">
        <h3>Date Applied</h3>
      </div>
      <div class="col-sm-2 job-list-title">
        <h3>Interview</h3>
      </div>
      <div class="col-sm-2 job-list-title">
        <h3>Offer</h3>
      </div>
      <div class="col-sm-2 job-list-title">
        <h3>Notes</h3>
      </div>
    </div>
    <div class="jobs">
      <%= render 'statuses' %>
    </div>
    <%= link_to 'Status Update', new_company_status_path(@company), :class => "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h2 class="center">Corporate Info</h2>
      <hr>
      <% if @company.founded %>
        <h3>Founded: <%= @company.founded %></h3>
        <h3>Number of Employees: <%= @company.size %></h3>
        <hr>
        <h3>Corporate Headquarters</h3>
      <% else %>
        <h3>Address</h3>
      <% end %>
      <h4><%= @company.address %></h4>
      <h4><%= @company.city %>, <%= @company.region %></h4>
    </div>
    <div class="well">
      <%= render 'profile', company: @company %>
    </div>
  </div>
  <div class="col-sm-6 well">
    <h2 class="center">In the News</h2>
    <div class="news-list">
      <% if @company.news_response['status'] != 'ERROR' && @company.news_response['result']['docs'] %>
        <% @company.news_response['result']['docs'].each do |doc| %>
          <div class="well news-tile">
            <%= render 'news-tile', doc: doc%>
          </div>
        <% end %>
      <% else %>
        <hr>
        <h3>No news articles found</h3>
      <% end %>
    </div>
  </div>
</div>
